# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env

# OS
.DS_Store
Thumbs.db
Invoice Verification Service (V1).txt